@media screen and (orientation: landscape) {
    /* 横向きの場合のスタイル */
    * {
        margin: 0%; padding: 0%;
    }
    /* 縦画面用のテキストを非表示にする */
    .error {
        display: none;
    }

    /* メイン */
    /* 背景 */
    body {
        background-color: #1e9623;
        color: white;
    }
    /* タイトル */
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        font-size: 10vh;
    }
    /* ボタン */
    form {
        height: 30vh;
        width: 50vw;
        float: left;
    }
    .btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    .button_div {
        display: inline-block;
        position: relative;
        width: 35vw;
        height: 10vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        font-size: 4vh;
        line-height: 10vh;
        text-align: center;
        color: #fff;
        border-radius: 8px;
        background-color: #2772DB;
        overflow: hidden;
    }
    .button_div:hover {
        background-color: #2062bf;
    }
    /* ローディング画面 */
    /* 背景 */
    .loading {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        background: #000;
        z-index: 9999;
    }
    /* アニメーション */
    .animation {
        text-align: center;
        position: absolute;
        font-size: 5vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%,-50%);
        color: #fff;
        animation: loadinganimation 2000ms ease-out forwards infinite;
        -webkit-animation: loadinganimation 2000ms ease-out forwards infinite;
    }
    /* 0%と100%で半透明 50%で鮮明に表示 */
    @keyframes loadinganimation {
        from, to {
            opacity: .5;
        }
        50% {
            opacity: 1;
        }
    }
    @-webkit-keyframes loadinganimation {
        from, to {
            opacity: .5;
        }
        50% {
            opacity: 1;
        }
    }
}

@media screen and (orientation: portrait) {
    /* 縦向きの場合のスタイル */
    * {
        margin: 0%; padding: 0%;
    }
    /* 縦画面用のテキスト以外を非表示にする */
    * :not(body):not(.error) {
        display: none;
    }
    /* メイン */
    body {
        background-color: black;
    }

    .error {
        color: white;
        text-align: center;
        line-height: 100vh;
        font-size: 3.5vh;
    }
}