@media screen and (orientation: landscape) {
    /* 画面が横向きのスタイル */
    @media screen and (min-height: 640px) {
        /* タブレット端末のスタイル */
        * {
            margin: 0%; padding: 0%;
        }
        /* 縦画面用のテキスト以外を非表示にする */
        * :not(body):not(#tablet) {
            display: none;
        }
        /* メイン */
        body {
            background-color: black;
        }
    
        .error {
            color: white;
            text-align: center;
            line-height: 100vh;
            font-size: 3.5vh;
        }
    }
    @media screen and (max-height: 639px) {
        /* スマートフォンのスタイル */
        * {
            margin: 0%; padding: 0%;
        }
        /* 縦画面用のテキストを非表示にする */
        .error {
            display: none;
        }
    
        /* メイン */
        /* 項目名 */
        h2 {
            font-size: 5vh;
            line-height: 13vh;
            text-align: center;
            height: 12vh;
            /* border: solid 1px #0000;         */
            border-radius: 8px;
            background-color: rgba(0, 0, 0, 0.25);
            width: calc( 100% - 0.5vw );
            margin: 0 1vw 0 1vw;
        }
        h2.title {
            margin: 1vh 0 0 0;
        }
        /* 手牌、和了牌 */
        .column_tehai {
            height: 12vh;
            width: 92.5vw;
        }
        .column_horahai {
            height: 12vh;
            width: 7.5vw;
        }
        .column_horahai > *{
            font-size: 2vw;
        }    
        /* 手牌、和了牌の牌スタイル */
        .tehai {
            display: flex;
            justify-content: space-evenly;
            height: 20vh;
            width: 100vw;
            margin-top: 1%;
            margin-bottom: 0.5%; 
        }
        .tehai > *{
            height: auto;
            width: auto;
            max-height: 20vh;
            max-width: 7vw;
        }
        .tehai > #agarihai {
            margin-left: 0.5%;
        }
        /* ドラ、風牌、役 */
        .wrapper {
            display: flex;
        }
        .column_dora {
            height: 55vh;
            width: 44vw;
        }
        .column_kaze {
            height: 55vh;
            width: 16vw;
        }
        .column_yaku {
            height: 55vh;
            width: 40vw;
        }
        /* ドラ */
        .dora1 {
            margin-top: 1vh;
            display: flex;
            justify-content: space-evenly;
            height: 20vh;
        }
        .dora1 > *{
            width: auto;
            height: auto;
            max-width: 8.8vw;
            max-height: 21vh;
        }
        .dora2 {
            display: flex;
            justify-content: space-evenly;
            margin-top: 1vh;
            height: 20vh;
        }
        .dora2 > *{
            width: auto;
            height: auto;
            max-width: 8.8vw;
            max-height: 21vh;
        }
        /* 風牌 */
        .column_title {
            height: 21.5vh;
            width: 6vw;
            text-align: right;
        }
        .column_title > * {
            font-size: 4vh;
        }
        .column_title > .ba {
            margin-top: 1vh;
        }
        .column_kazehai {
            height: 21.5vh;
            width: 10vw;
            text-align: center;
        }
        .column_kazehai > * {
            height: auto;
            width: auto;
            max-height: 20vh;
            max-width: 10vw;
        }
        .column_kazehai > #bakaze {
            margin-top: 1vh;
        }
        /* 役 */
        .yaku {
            height: 43vh;
            width: 36vw;
        }
        /* 役ボタンのスタイル */
        .checkbox-input{
            display: none;
        }
        .checkbox-parts{
            margin-top: 1vh;
            margin-left: 1.5vw;
            text-align: center;
            position: relative;
            padding: 2.7vh 0px 2.7vh 0px;
            color: #000;
            border-radius: 8px;
            /* border: 1px solid #0000; */
            display:inline-block;
            line-height: 4vh;
            width: 17vw;
            height: 4vh;
            font-size: 3.7vh;
            background-color: white;

        }
        .checkbox-input:checked + .checkbox-parts{
            background: #ff555e;
            color: #fff;
            /* border: 1px solid #ff555d00; */
        }
        /* ボタン */
        button {
            float: left;
            height: 10vh;
            width: 50vw;
        }
        /* モーダルウィンドウ */
        #modal-content {
            height: 90vh ;
            width: 90vw ;
            margin: 0 ;
            padding: 10px 20px ;
            border: 2px solid #aaa ;
            background: #fff ;
            position: fixed ;
            display: none ;
            z-index: 2 ;
            background-color: #1e9623;
        }
        #modal-content-rslt {
            height: 90vh ;
            width: 90vw ;
            margin: 0 ;
            padding: 10px 20px ;
            border: 2px solid #aaa ;
            background: #fff ;
            position: fixed ;
            display: none ;
            z-index: 2 ;
            background-color: #1e9623;
        }
        #modal-overlay {
            z-index: 1 ;
            display: none ;
            position: fixed ;
            top: 0 ;
            left: 0 ;
            width: 100% ;
            height: 120% ;
            background-color: rgba( 0,0,0, 0.75 ) ;
        }
        /* 牌選択モーダルウィンドウ内の牌スタイル */
        #syurui {
            display: flex;
            justify-content: space-around;
            height: 20vh;
        }
        #syurui :not(.manzu) {
            margin-top: 0.5vh;
        }
        #syurui > * {
            height: auto;
            width: auto;
            max-height: 18.5vh;
            max-width: 7vw;
        }
        .close-chng {
            margin-top: 1vh;
            height: 10vh;
            width: 90vw;
        }
        /* 計算結果モーダルウィンドウ内のスタイル */
        .hourakei {
            display: flex;
            justify-content: space-evenly;
            height: 18vh;
            width: 90vw;
            margin-top: 0.7%;
            margin-bottom: 0.7%; 
        }
        .hourakei > *{
            height: auto;
            width: auto;
            max-height: 18vh;
            max-width: 6.4vw;
        }
        .column_modal {
            height: 48vh;
            width: 45vw;
        }
        .wrapper_yaku {
            height: 36vh;
            width: 45vw;
            overflow: scroll;
            display: flex;
        }
        .column_m_yaku {
            height: 36vh;
            width: 37.5vw;
            margin-left: 2.5vw;
        }
        .column_m_yaku > * {
            border-radius: 8px 0 0 8px;
            background-color: white;
            color: black;
            margin-top: 0.5vh;
            padding-left: 3vw;
        }
        .column_m_han {
            height: 36vh;
            width: 7.5vw;
            margin-right: 2.5vw; 
        }
        .column_m_han > * {
            border-radius: 0 8px 8px 0;
            text-align: right;
            background-color: white;
            color: black;
            margin-top: 0.5vh;
            padding-right: 2vw;
        }
        .modal_ten {
            height: 23vh;
            width: 45vw;
            position: relative;
        }
        .modal_ten > #han {
            padding-top: 1vh;
            font-size: 7vh;
        }
        .modal_ten > #ten {
            width: 45vw;
            position: absolute;
            bottom: 0;
            text-align: center;
            font-weight: bold;
            font-size: 7.5vh;
        }
        .modal_mangan {
            height: 12vh;
            width: 44vw;
            border-radius: 8px;
            border: 2px solid red;
            background-color: white;
        }
        .modal_mangan > * {
            text-align: center;
            font-weight: bold;
            font-size: 10vh;
            color: red;
        }
        .close-rslt {
            float: left;
            margin-top: 1vh;
            height: 10vh;
            width: 45vw;
        }

        body {
            background-color: #1e9623;
            color: white;
        }
    }
}

@media screen and (orientation: portrait) {
    /* 画面が縦向きのスタイル */
    @media screen and (min-width: 640px) {
        /* タブレット端末のスタイル */
        * {
            margin: 0%; padding: 0%;
        }
        /* 縦画面用のテキスト以外を非表示にする */
        * :not(body):not(#tablet) {
            display: none;
        }
        /* メイン */
        body {
            background-color: black;
        }
    
        .error {
            color: white;
            text-align: center;
            line-height: 100vh;
            font-size: 3.5vh;
        }
    }
    @media screen and (max-width: 639px) {
        /* スマートフォンのスタイル */
        * {
            margin: 0%; padding: 0%;
        }
        /* 縦画面用のテキスト以外を非表示にする */
        * :not(body):not(#muki) {
            display: none;
        }
        /* メイン */
        body {
            background-color: black;
        }

        .error {
            color: white;
            text-align: center;
            line-height: 100vh;
            font-size: 3.5vh;
        }
    }
}